<configuration>
  <system.web>
    <!-- Disable custom errors to show detailed error messages -->

    <!-- Other settings -->
  </system.web>

  <system.webServer>
    <!-- Enable detailed HTTP error messages -->
  <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/Error/Error404" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/Error/Error500" responseMode="ExecuteURL" />
      <remove statusCode="403" />
      <error statusCode="403" path="/Error/Error403" responseMode="ExecuteURL" />
    </httpErrors>
    <!-- Other settings -->
  </system.webServer>
</configuration>
