<configuration>
  <system.web>
    <!-- Disable custom errors to show detailed error messages -->
    <customErrors mode="Off" />
    
    <!-- Other settings -->
  </system.web>

  <system.webServer>
    <!-- Enable detailed HTTP error messages -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Other settings -->
  </system.webServer>
</configuration>
